## Andrew Ingrassia
## World Happiness Report
## Cleaning/Wrangling

***
## Contents

##### 1) Imports & libraries

##### 2) Identifying common variables & dropping unwanted columns

##### 3) Modifying variable names

##### 4) Modifying the 'whr2022' datatframe

##### 5) Data quality & consistency checks
    - 5a. Checking for mixed data types
    - 5b. Ensuring data types are consistent across dataframes
    
##### 6) Concatenating all 9 dataframes

##### 7) Checking for missing values in the combined dataframe

##### 8) Universalizing country names

##### 9) Modifying data types in the combined dataframe

##### 10) Removing countries whose scores do not appear for all 9 years (2015 - 2023)

##### 11) Exporting the combined dataframe as a csv

***
### 1) Imports & libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import scipy

In [2]:
# Defines a file path

path = r'C:\Users\ingra\OneDrive\Desktop\Data Analysis\World Happiness Report\WHR - Data'

In [3]:
# Imports all relevant data sets

whr2015 = pd.read_csv(os.path.join(path, '2015_whr1.csv'))
whr2016 = pd.read_csv(os.path.join(path, '2016_whr1.csv'))
whr2017 = pd.read_csv(os.path.join(path, '2017_whr1.csv'))
whr2018 = pd.read_csv(os.path.join(path, '2018_whr1.csv'))
whr2019 = pd.read_csv(os.path.join(path, '2019_whr1.csv'))
whr2020 = pd.read_csv(os.path.join(path, '2020_whr1.csv'))
whr2021 = pd.read_csv(os.path.join(path, '2021_whr1.csv'))
whr2022 = pd.read_csv(os.path.join(path, '2022_whr1.csv'))
whr2023 = pd.read_csv(os.path.join(path, '2023_whr1.csv'))

***
### 2) Identifying common variables & dropping unwanted columns

In [4]:
# Prints the column names associated with 'whr2015'

print(whr2015.columns)

Index(['Country', 'Region', 'Year', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [5]:
# Drops specified columns from whr2015

whr2015_drop_columns = ['Region', 'Standard Error', 'Dystopia Residual']
whr2015.drop(columns=whr2015_drop_columns, inplace=True)

In [6]:
# Prints the column names associated with 'whr2016'

print(whr2016.columns)

Index(['Country', 'Region', 'Year', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [7]:
# Drops specified columns from whr2016

whr2016_drop_columns = ['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual']
whr2016.drop(columns=whr2016_drop_columns, inplace=True)

In [8]:
# Prints the column names associated with 'whr2017'

print(whr2017.columns)

Index(['Country', 'Happiness.Rank', 'Year', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [9]:
# Drops specified columns from whr2017

whr2017_drop_columns = ['Whisker.high', 'Whisker.low', 'Dystopia.Residual']
whr2017.drop(columns=whr2017_drop_columns, inplace=True)

In [10]:
# Prints the column names associated with 'whr2018'

print(whr2018.columns)

Index(['Overall rank', 'Country or region', 'Score', 'Year', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [11]:
# Prints the column names associated with 'whr2019'

print(whr2019.columns)

Index(['Overall rank', 'Country or region', 'Year', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [12]:
# Prints the column names associated with 'whr2020'

print(whr2020.columns)

Index(['happiness_rank', 'Country name', 'Regional indicator', 'Year',
       'Ladder score', 'Standard error of ladder score', 'upperwhisker',
       'lowerwhisker', 'Logged GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [13]:
# Drops specified columns from whr2020

whr2020_drop_columns = ['Regional indicator', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 
                        'Logged GDP per capita', 'Social support','Healthy life expectancy', 
                        'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 
                        'Ladder score in Dystopia', 'Dystopia + residual']

whr2020.drop(columns=whr2020_drop_columns, inplace=True)

In [14]:
# Prints the column names associated with 'whr2021'

print(whr2021.columns)

Index(['happiness_rank', 'Country name', 'Regional indicator', 'Year',
       'Ladder score', 'Standard error of ladder score', 'upperwhisker',
       'lowerwhisker', 'Logged GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [15]:
# Drops specified columns from whr2021

whr2021_drop_columns = ['Regional indicator', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
                       'Ladder score in Dystopia', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 
                       'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Dystopia + residual']

whr2021.drop(columns=whr2021_drop_columns, inplace=True)

In [16]:
# Prints the column names associated with 'whr2022'

print(whr2022.columns)

Index(['RANK', 'Country', 'Year', 'Happiness score', 'Whisker-high',
       'Whisker-low', 'Dystopia (1.83) + residual',
       'Explained by: GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')

In [17]:
# Drops specified columns from whr2022

whr2022_drop_columns = ['Whisker-high', 'Whisker-low', 'Dystopia (1.83) + residual']
whr2022.drop(columns=whr2022_drop_columns, inplace=True)

In [18]:
# Prints the column names associated with 'whr2023'

print(whr2023.columns)

Index(['happiness_rank', 'Country name', 'Ladder score', 'Year',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [19]:
# Drops specified columns from whr2023

whr2023_drop_columns = ['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Ladder score in Dystopia',
                       'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 
                       'Generosity', 'Perceptions of corruption', 'Dystopia + residual']

whr2023.drop(columns=whr2023_drop_columns, inplace=True)

***
### 3) Modifying variable names

In [20]:
# Defines a list of dataframe names

dataframes = [whr2015, whr2016, whr2017, whr2018, whr2019, whr2020, whr2021, whr2022, whr2023]

In [21]:
# Identifying all remaining unique column names

unique_column_names = set()

for df in dataframes:
    unique_column_names.update(df.columns)

# Convert the set of unique column names back to a list
unique_column_names_list = list(unique_column_names)

print(unique_column_names_list)

['Country name', 'Explained by: Healthy life expectancy', 'Happiness Score', 'Overall rank', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'happiness_rank', 'Country', 'Explained by: Generosity', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Explained by: Perceptions of corruption', 'Happiness score', 'Family', 'Happiness.Score', 'Explained by: Social support', 'Country or region', 'Explained by: GDP per capita', 'Year', 'Explained by: Freedom to make life choices', 'Perceptions of corruption', 'Freedom to make life choices', 'Score', 'Generosity', 'Trust..Government.Corruption.', 'Explained by: Log GDP per capita', 'RANK', 'Happiness.Rank', 'Economy..GDP.per.Capita.', 'Happiness Rank', 'Economy (GDP per Capita)', 'Health..Life.Expectancy.', 'Ladder score']

In [22]:
# Universalizing variable names to be included in combined dataframe

column_renaming = {
    'Explained by: GDP per capita': 'economic_status',
    'Freedom to make life choices': 'freedom',
    'Health..Life.Expectancy.': 'life_expectancy',
    'Overall rank': 'happiness_rank',
    'Economy (GDP per Capita)': 'economic_status',
    'Explained by: Log GDP per capita': 'economic_status',
    'Freedom': 'freedom', 
    'Explained by: Generosity': 'generosity', 
    'Perceptions of corruption': 'govt_trust', 
    'Country name': 'country', 
    'Economy..GDP.per.Capita.': 'economic_status', 
    'Social support': 'social_support', 
    'Happiness Score': 'happiness_score', 
    'Trust (Government Corruption)': 'govt_trust', 
    'Explained by: Freedom to make life choices': 'freedom', 
    'Health (Life Expectancy)': 'life_expectancy', 
    'Explained by: Healthy life expectancy': 'life_expectancy', 
    'GDP per capita': 'economic_status', 
    'Year': 'year', 
    'Happiness.Score': 'happiness_score', 
    'Ladder score': 'happiness_score', 
    'Country or region': 'country', 
    'Explained by: Perceptions of corruption': 'govt_trust', 
    'Trust..Government.Corruption.': 'govt_trust', 
    'Family': 'social_support', 
    'Happiness score': 'happiness_score', 
    'Country': 'country', 
    'Healthy life expectancy': 'life_expectancy', 
    'RANK': 'happiness_rank', 
    'Generosity': 'generosity', 
    'Score': 'happiness_score', 
    'Happiness.Rank': 'happiness_rank', 
    'Explained by: Social support': 'social_support', 
    'Happiness Rank': 'happiness_rank'
}

In [23]:
# Loops through all dataframes and applies the column renaming as specified in the 'column_renaming' dictionary

for df in dataframes:
    df.rename(columns = column_renaming, inplace=True)

***
### 4) Modifying the 'whr2022' dataframe

In [24]:
# List of desired columns within whr2022 that contain values with commas in place of decimal points
comma_columns = [
    'happiness_score',
    'economic_status',
    'social_support',
    'life_expectancy',
    'freedom',
    'generosity',
    'govt_trust'
]  

# Iterate through columns and replace commas with decimal points
for column in comma_columns:
    whr2022[column] = whr2022[column].str.replace(',', '.')

***
### 5) Data quality and consistency checks

##### 5a. Checking for mixed data types

In [25]:
# Tests for the presence of mixed data types in whr2015 dataframe

for col in whr2015.columns.tolist():
    weird = (whr2015[[col]].applymap(type) != whr2015[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (whr2015[weird]) > 0:
        print(col)

In [26]:
# Tests for the presence of mixed data types in whr2016 dataframe

for col in whr2016.columns.tolist():
    weird = (whr2016[[col]].applymap(type) != whr2016[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (whr2016[weird]) > 0:
        print(col)

In [27]:
# Tests for the presence of mixed data types in whr2017 dataframe

for col in whr2017.columns.tolist():
    weird = (whr2017[[col]].applymap(type) != whr2017[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (whr2017[weird]) > 0:
        print(col)

In [28]:
# Tests for the presence of mixed data types in whr2018 dataframe

for col in whr2018.columns.tolist():
    weird = (whr2018[[col]].applymap(type) != whr2018[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (whr2018[weird]) > 0:
        print(col)

In [29]:
# Tests for the presence of mixed data types in whr2019 dataframe

for col in whr2019.columns.tolist():
    weird = (whr2019[[col]].applymap(type) != whr2019[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (whr2019[weird]) > 0:
        print(col)

In [30]:
# Tests for the presence of mixed data types in whr2020 dataframe

for col in whr2020.columns.tolist():
    weird = (whr2020[[col]].applymap(type) != whr2020[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (whr2020[weird]) > 0:
        print(col)

In [31]:
# Tests for the presence of mixed data types in whr2021 dataframe

for col in whr2021.columns.tolist():
    weird = (whr2021[[col]].applymap(type) != whr2021[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (whr2021[weird]) > 0:
        print(col)

In [32]:
# Tests for the presence of mixed data types in whr2022 dataframe

for col in whr2022.columns.tolist():
    weird = (whr2022[[col]].applymap(type) != whr2022[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (whr2022[weird]) > 0:
        print(col)

In [33]:
# Tests for the presence of mixed data types in whr2023 dataframe

for col in whr2023.columns.tolist():
    weird = (whr2023[[col]].applymap(type) != whr2023[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (whr2023[weird]) > 0:
        print(col)

##### 5b. Ensuring data types are consistent across dataframes

In [34]:
whr2015.dtypes

country             object
year                 int64
happiness_rank       int64
happiness_score    float64
economic_status    float64
social_support     float64
life_expectancy    float64
freedom            float64
govt_trust         float64
generosity         float64
dtype: object

In [35]:
# Modifies whr2015 data types

whr2015['year'] = whr2015['year'].astype('int16')
whr2015['happiness_rank'] = whr2015['happiness_rank'].astype('int16')
whr2015['happiness_score'] = whr2015['happiness_score'].astype('float32')
whr2015['economic_status'] = whr2015['economic_status'].astype('float32')
whr2015['social_support'] = whr2015['social_support'].astype('float32')
whr2015['life_expectancy'] = whr2015['life_expectancy'].astype('float32')
whr2015['freedom'] = whr2015['freedom'].astype('float32')
whr2015['govt_trust'] = whr2015['govt_trust'].astype('float32')
whr2015['generosity'] = whr2015['generosity'].astype('float32')

In [36]:
whr2016.dtypes

country             object
year                 int64
happiness_rank       int64
happiness_score    float64
economic_status    float64
social_support     float64
life_expectancy    float64
freedom            float64
govt_trust         float64
generosity         float64
dtype: object

In [37]:
# Modifies whr2016 data types

whr2016['year'] = whr2016['year'].astype('int16')
whr2016['happiness_rank'] = whr2016['happiness_rank'].astype('int16')
whr2016['happiness_score'] = whr2016['happiness_score'].astype('float32')
whr2016['economic_status'] = whr2016['economic_status'].astype('float32')
whr2016['social_support'] = whr2016['social_support'].astype('float32')
whr2016['life_expectancy'] = whr2016['life_expectancy'].astype('float32')
whr2016['freedom'] = whr2016['freedom'].astype('float32')
whr2016['govt_trust'] = whr2016['govt_trust'].astype('float32')
whr2016['generosity'] = whr2016['generosity'].astype('float32')

In [38]:
whr2017.dtypes

country             object
happiness_rank       int64
year                 int64
happiness_score    float64
economic_status    float64
social_support     float64
life_expectancy    float64
freedom            float64
generosity         float64
govt_trust         float64
dtype: object

In [39]:
# Modifies whr2017 data types

whr2017['year'] = whr2017['year'].astype('int16')
whr2017['happiness_rank'] = whr2017['happiness_rank'].astype('int16')
whr2017['happiness_score'] = whr2017['happiness_score'].astype('float32')
whr2017['economic_status'] = whr2017['economic_status'].astype('float32')
whr2017['social_support'] = whr2017['social_support'].astype('float32')
whr2017['life_expectancy'] = whr2017['life_expectancy'].astype('float32')
whr2017['freedom'] = whr2017['freedom'].astype('float32')
whr2017['govt_trust'] = whr2017['govt_trust'].astype('float32')
whr2017['generosity'] = whr2017['generosity'].astype('float32')

In [40]:
whr2018.dtypes

happiness_rank       int64
country             object
happiness_score    float64
year                 int64
economic_status    float64
social_support     float64
life_expectancy    float64
freedom            float64
generosity         float64
govt_trust         float64
dtype: object

In [41]:
# Modifies whr2018 data types

whr2018['year'] = whr2018['year'].astype('int16')
whr2018['happiness_rank'] = whr2018['happiness_rank'].astype('int16')
whr2018['happiness_score'] = whr2018['happiness_score'].astype('float32')
whr2018['economic_status'] = whr2018['economic_status'].astype('float32')
whr2018['social_support'] = whr2018['social_support'].astype('float32')
whr2018['life_expectancy'] = whr2018['life_expectancy'].astype('float32')
whr2018['freedom'] = whr2018['freedom'].astype('float32')
whr2018['govt_trust'] = whr2018['govt_trust'].astype('float32')
whr2018['generosity'] = whr2018['generosity'].astype('float32')

In [42]:
whr2019.dtypes

happiness_rank       int64
country             object
year                 int64
happiness_score    float64
economic_status    float64
social_support     float64
life_expectancy    float64
freedom            float64
generosity         float64
govt_trust         float64
dtype: object

In [43]:
# Modifies whr2019 data types

whr2019['year'] = whr2019['year'].astype('int16')
whr2019['happiness_rank'] = whr2019['happiness_rank'].astype('int16')
whr2019['happiness_score'] = whr2019['happiness_score'].astype('float32')
whr2019['economic_status'] = whr2019['economic_status'].astype('float32')
whr2019['social_support'] = whr2019['social_support'].astype('float32')
whr2019['life_expectancy'] = whr2019['life_expectancy'].astype('float32')
whr2019['freedom'] = whr2019['freedom'].astype('float32')
whr2019['govt_trust'] = whr2019['govt_trust'].astype('float32')
whr2019['generosity'] = whr2019['generosity'].astype('float32')

In [44]:
whr2020.dtypes

happiness_rank       int64
country             object
year                 int64
happiness_score    float64
economic_status    float64
social_support     float64
life_expectancy    float64
freedom            float64
generosity         float64
govt_trust         float64
dtype: object

In [45]:
# Modifies whr2020 data types

whr2020['year'] = whr2020['year'].astype('int16')
whr2020['happiness_rank'] = whr2020['happiness_rank'].astype('int16')
whr2020['happiness_score'] = whr2020['happiness_score'].astype('float32')
whr2020['economic_status'] = whr2020['economic_status'].astype('float32')
whr2020['social_support'] = whr2020['social_support'].astype('float32')
whr2020['life_expectancy'] = whr2020['life_expectancy'].astype('float32')
whr2020['freedom'] = whr2020['freedom'].astype('float32')
whr2020['govt_trust'] = whr2020['govt_trust'].astype('float32')
whr2020['generosity'] = whr2020['generosity'].astype('float32')

In [46]:
whr2021.dtypes

happiness_rank       int64
country             object
year                 int64
happiness_score    float64
economic_status    float64
social_support     float64
life_expectancy    float64
freedom            float64
generosity         float64
govt_trust         float64
dtype: object

In [47]:
# Modifies whr2021 data types

whr2021['year'] = whr2021['year'].astype('int16')
whr2021['happiness_rank'] = whr2021['happiness_rank'].astype('int16')
whr2021['happiness_score'] = whr2021['happiness_score'].astype('float32')
whr2021['economic_status'] = whr2021['economic_status'].astype('float32')
whr2021['social_support'] = whr2021['social_support'].astype('float32')
whr2021['life_expectancy'] = whr2021['life_expectancy'].astype('float32')
whr2021['freedom'] = whr2021['freedom'].astype('float32')
whr2021['govt_trust'] = whr2021['govt_trust'].astype('float32')
whr2021['generosity'] = whr2021['generosity'].astype('float32')

In [48]:
whr2022.dtypes

happiness_rank      int64
country            object
year                int64
happiness_score    object
economic_status    object
social_support     object
life_expectancy    object
freedom            object
generosity         object
govt_trust         object
dtype: object

In [49]:
# Modifies whr2022 data types

whr2022['year'] = whr2022['year'].astype('int16')
whr2022['happiness_rank'] = whr2022['happiness_rank'].astype('int16')
whr2022['happiness_score'] = whr2022['happiness_score'].astype('float32')
whr2022['economic_status'] = whr2022['economic_status'].astype('float32')
whr2022['social_support'] = whr2022['social_support'].astype('float32')
whr2022['life_expectancy'] = whr2022['life_expectancy'].astype('float32')
whr2022['freedom'] = whr2022['freedom'].astype('float32')
whr2022['govt_trust'] = whr2022['govt_trust'].astype('float32')
whr2022['generosity'] = whr2022['generosity'].astype('float32')

In [50]:
whr2023.dtypes

happiness_rank       int64
country             object
happiness_score    float64
year                 int64
economic_status    float64
social_support     float64
life_expectancy    float64
freedom            float64
generosity         float64
govt_trust         float64
dtype: object

In [51]:
# Modifies whr2023 data types

whr2023['year'] = whr2023['year'].astype('int16')
whr2023['happiness_rank'] = whr2023['happiness_rank'].astype('int16')
whr2023['happiness_score'] = whr2023['happiness_score'].astype('float32')
whr2023['economic_status'] = whr2023['economic_status'].astype('float32')
whr2023['social_support'] = whr2023['social_support'].astype('float32')
whr2023['life_expectancy'] = whr2023['life_expectancy'].astype('float32')
whr2023['freedom'] = whr2023['freedom'].astype('float32')
whr2023['govt_trust'] = whr2023['govt_trust'].astype('float32')
whr2023['generosity'] = whr2023['generosity'].astype('float32')

***
### 6) Concatenating all 9 dataframes

In [52]:
# Concatenates all dataframes (whr2015 - whr2023) vertically
# dataframes = [whr2015, whr2016, whr2017, whr2018, whr2019, whr2020, whr2021, whr2022, whr2023] --- defined earlier

whr_combined = pd.concat(dataframes, ignore_index=True)

In [53]:
# Modifying the column order in the whr_combined dataframe

new_column_order = [
    'country',
    'year',
    'happiness_rank',
    'happiness_score',
    'economic_status',
    'social_support',
    'life_expectancy',
    'freedom',
    'generosity',
    'govt_trust'
]

whr_combined = whr_combined[new_column_order]

In [54]:
whr_combined.head()

,country,year,happiness_rank,happiness_score,economic_status,social_support,life_expectancy,freedom,generosity,govt_trust
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

***
### 7) Checking for missing values in the combined dataframe

In [55]:
# Determines how many missing values are in each column

whr_combined.isnull().sum()

country            0
year               0
happiness_rank     0
happiness_score    0
economic_status    0
social_support     0
life_expectancy    1
freedom            0
generosity         0
govt_trust         1
dtype: int64

In [56]:
# Locates the row within the 'life_expectancy' column containing the missing value

missing_life_expectancy = whr_combined[whr_combined['life_expectancy'].isnull()]
print(missing_life_expectancy)

                 country  year  happiness_rank  happiness_score  \
1328  State of Palestine  2023              99            4.908

      economic_status  social_support  life_expectancy  freedom  generosity  \
1328            1.144           1.309              NaN    0.416       0.065

      govt_trust
1328       0.067

In [57]:
# Locates the row within the 'govt_trust' column containing the missing value

missing_govt_trust = whr_combined[whr_combined['govt_trust'].isnull()]
print(missing_govt_trust)

                  country  year  happiness_rank  happiness_score  \
489  United Arab Emirates  2018              20            6.774

     economic_status  social_support  life_expectancy  freedom  generosity  \
489            2.096           0.776             0.67    0.284       0.186

     govt_trust
489         NaN

In [58]:
# Viewing all data related to United Arab Emirates

whr_combined.loc[(whr_combined['country'] == 'United Arab Emirates')]

,country,year,happiness_rank,happiness_score,economic_status,social_support,life_expectancy,freedom,generosity,govt_trust
19,United Arab Emirates,2015,20,6.9010,1.427270,1.125750,0.809250,0.641570,0.264280,0.385830
185,United Arab Emirates,2016,28,6.5730,1.573520,0.871140,0.729930,0.562150,0.265910,0.355610
335,United Arab Emirates,2017,21,6.6480,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490
489,United Arab Emirates,2018,20,6.7740,2.096000,0.776000,0.670000,0.284000,0.186000,NaN
646,United Arab Emirates,2019,21,6.8250,1.503000,1.310000,0.825000,0.598000,0.262000,0.182000
802,United Arab Emirates,2020,21,6.7908,1.431086,1.251171,0.787814,0.652936,0.280656,0.220214
959,United Arab Emirates,2021,25,6.5610,1.555000,0.860000,0.594000,0.670000,0.236000,0.223000
1107,United Arab Emirates,2022,24,6.5760,1.998000,0.980000,0.633000,0.702000,0.204000,0.250000
1255,United Arab Emirates,2023,26,6.5710,2.015000,1.223000,0.401000,0.745000,0.188000,0.247000

In [59]:
# Impute the 2018 'govt_trust' value [mean of 2017 (0.32449) and 2019 (0.182)]

whr_combined.at[489, 'govt_trust'] = (0.32449 + 0.182)/2

In [60]:
# Views the new value

whr_combined.loc[(whr_combined['country'] == 'United Arab Emirates')]

,country,year,happiness_rank,happiness_score,economic_status,social_support,life_expectancy,freedom,generosity,govt_trust
19,United Arab Emirates,2015,20,6.9010,1.427270,1.125750,0.809250,0.641570,0.264280,0.385830
185,United Arab Emirates,2016,28,6.5730,1.573520,0.871140,0.729930,0.562150,0.265910,0.355610
335,United Arab Emirates,2017,21,6.6480,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490
489,United Arab Emirates,2018,20,6.7740,2.096000,0.776000,0.670000,0.284000,0.186000,0.253245
646,United Arab Emirates,2019,21,6.8250,1.503000,1.310000,0.825000,0.598000,0.262000,0.182000
802,United Arab Emirates,2020,21,6.7908,1.431086,1.251171,0.787814,0.652936,0.280656,0.220214
959,United Arab Emirates,2021,25,6.5610,1.555000,0.860000,0.594000,0.670000,0.236000,0.223000
1107,United Arab Emirates,2022,24,6.5760,1.998000,0.980000,0.633000,0.702000,0.204000,0.250000
1255,United Arab Emirates,2023,26,6.5710,2.015000,1.223000,0.401000,0.745000,0.188000,0.247000

In [61]:
# Viewing all data related to State of Palestine

whr_combined.loc[(whr_combined['country'] == 'State of Palestine')]

# Apparently there are multiple variations of the country name 'Palestine'

,country,year,happiness_rank,happiness_score,economic_status,social_support,life_expectancy,freedom,generosity,govt_trust
1328,State of Palestine,2023,99,4.908,1.144,1.309,NaN,0.416,0.065,0.067

In [62]:
# Locating all variations of 'Palestine'

whr_combined[whr_combined['country'].str.contains('Palest')]

,country,year,happiness_rank,happiness_score,economic_status,social_support,life_expectancy,freedom,generosity,govt_trust
107,Palestinian Territories,2015,108,4.7150,0.598670,0.925580,0.660150,0.244990,0.112510,0.129050
265,Palestinian Territories,2016,108,4.7540,0.670240,0.716290,0.568440,0.177440,0.111540,0.106130
417,Palestinian Territories,2017,103,4.7750,0.716249,1.155647,0.565667,0.254711,0.114173,0.089283
573,Palestinian Territories,2018,104,4.7430,0.642000,1.217000,0.602000,0.266000,0.086000,0.076000
735,Palestinian Territories,2019,110,4.6960,0.657000,1.247000,0.672000,0.225000,0.103000,0.066000
906,Palestinian Territories,2020,125,4.5528,0.587819,1.194756,0.613827,0.298701,0.091816,0.071914
1059,Palestinian Territories,2021,125,4.5170,0.646000,0.819000,0.434000,0.330000,0.082000,0.075000
1205,Palestinian Territories*,2022,122,4.4830,1.148000,0.957000,0.521000,0.336000,0.073000,0.079000
1328,State of Palestine,2023,99,4.9080,1.144000,1.309000,NaN,0.416000,0.065000,0.067000

In [63]:
# Impute the 2023 'life_expectancy' for Palestine [increased 1.14% from 2022 according to database.earth]
whr_combined.at[1328, 'life_expectancy'] = (0.521 + 0.521 * 0.0114)

# Verifies the change
whr_combined[whr_combined['country'].str.contains('Palest')]

,country,year,happiness_rank,happiness_score,economic_status,social_support,life_expectancy,freedom,generosity,govt_trust
107,Palestinian Territories,2015,108,4.7150,0.598670,0.925580,0.660150,0.244990,0.112510,0.129050
265,Palestinian Territories,2016,108,4.7540,0.670240,0.716290,0.568440,0.177440,0.111540,0.106130
417,Palestinian Territories,2017,103,4.7750,0.716249,1.155647,0.565667,0.254711,0.114173,0.089283
573,Palestinian Territories,2018,104,4.7430,0.642000,1.217000,0.602000,0.266000,0.086000,0.076000
735,Palestinian Territories,2019,110,4.6960,0.657000,1.247000,0.672000,0.225000,0.103000,0.066000
906,Palestinian Territories,2020,125,4.5528,0.587819,1.194756,0.613827,0.298701,0.091816,0.071914
1059,Palestinian Territories,2021,125,4.5170,0.646000,0.819000,0.434000,0.330000,0.082000,0.075000
1205,Palestinian Territories*,2022,122,4.4830,1.148000,0.957000,0.521000,0.336000,0.073000,0.079000
1328,State of Palestine,2023,99,4.9080,1.144000,1.309000,0.526939,0.416000,0.065000,0.067000

***
### 8) Universalizing country names

In [64]:
# Viewing all unique country names - looking for issues

unique_countries = set(whr_combined['country'])

for country_name in sorted(unique_countries):
    print(country_name)

Afghanistan
Albania
Algeria
Angola
Argentina
Armenia
Australia
Austria
Azerbaijan
Azerbaijan*
Bahrain
Bangladesh
Belarus
Belarus*
Belgium
Belize
Benin
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Botswana*
Brazil
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Central African Republic
Chad
Chad*
Chile
China
Colombia
Comoros
Comoros*
Congo
Congo (Brazzaville)
Congo (Kinshasa)
Costa Rica
Croatia
Cyprus
Czech Republic
Czechia
Denmark
Djibouti
Dominican Republic
Ecuador
Egypt
El Salvador
Estonia
Eswatini, Kingdom of*
Ethiopia
Finland
France
Gabon
Gambia
Gambia*
Georgia
Germany
Ghana
Greece
Guatemala
Guatemala*
Guinea
Haiti
Honduras
Hong Kong
Hong Kong S.A.R. of China
Hong Kong S.A.R., China
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Ivory Coast
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kosovo
Kuwait
Kuwait*
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Lesotho*
Liberia
Liberia*
Libya
Libya*
Lithuania
Luxembourg
Luxembourg*
Macedonia
Madagascar
Madagascar*
Malawi
Malaysia
Maldives
Mali
Malta
Mauritania
Mauritania*
Mauritius
Mexico
Moldova
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nepal
Netherlands
New Zealand
Nicaragua
Niger
Niger*
Nigeria
North Cyprus
North Cyprus*
North Macedonia
Northern Cyprus
Norway
Oman
Pakistan
Palestinian Territories
Palestinian Territories*
Panama
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
Romania
Russia
Rwanda
Rwanda*
Saudi Arabia
Senegal
Serbia
Sierra Leone
Singapore
Slovakia
Slovenia
Somalia
Somaliland Region
Somaliland region
South Africa
South Korea
South Sudan
Spain
Sri Lanka
State of Palestine
Sudan
Suriname
Swaziland
Sweden
Switzerland
Syria
Taiwan
Taiwan Province of China
Tajikistan
Tanzania
Thailand
Togo
Trinidad & Tobago
Trinidad and Tobago
Tunisia
Turkey
Turkiye
Turkmenistan
Turkmenistan*
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
Uruguay
Uzbekistan
Venezuela
Vietnam
Yemen
Yemen*
Zambia
Zimbabwe

In [65]:
# List of 'Azerbaijan' variants
azerbaijan_variants = ['Azerbaijan*']

# Replace all variants with 'Azerbaijan'
whr_combined['country'] = whr_combined['country'].replace(azerbaijan_variants, 'Azerbaijan')

In [66]:
# List of 'Belarus' variants
belarus_variants = ['Belarus*']

# Replace all variants with 'Belarus'
whr_combined['country'] = whr_combined['country'].replace(belarus_variants, 'Belarus')

In [67]:
# List of 'Botswana' variants
botswana_variants = ['Botswana*']

# Replace all variants with 'Botswana'
whr_combined['country'] = whr_combined['country'].replace(botswana_variants, 'Botswana')

In [68]:
# List of 'Chad' variants
chad_variants = ['Chad*']

# Replace all variants with 'Chad'
whr_combined['country'] = whr_combined['country'].replace(chad_variants, 'Chad')

In [69]:
# List of 'Comoros' variants
comoros_variants = ['Comoros*']

# Replace all variants with 'Comoros'
whr_combined['country'] = whr_combined['country'].replace(comoros_variants, 'Comoros')

In [70]:
# List of all 'Congo' variants
congo_variants = ['Congo']

# Replace all variants with 'Congo (Brazzaville)'
whr_combined['country'] = whr_combined['country'].replace(congo_variants, 'Congo (Brazzaville)')

In [71]:
# List of 'Czechia' variants
czechia_variants = ['Czechia']

# Replace all variants with 'Czech Republic'
whr_combined['country'] = whr_combined['country'].replace(czechia_variants, 'Czech Republic')

In [72]:
# List of 'Eswatini' variants (aka 'Swaziland')
eswatani_variants = ['Eswatini, Kingdom of*']

# Replace all variants with 'Swaziland'
whr_combined['country'] = whr_combined['country'].replace(eswatani_variants, 'Swaziland')

In [73]:
# List of 'Gambia' variants
gambia_variants = ['Gambia*']

# Replace all variants with 'Gambia'
whr_combined['country'] = whr_combined['country'].replace(gambia_variants, 'Gambia')

In [74]:
# List of 'Guatemala' variants
guatemala_variants = ['Guatemala*']

# Replace all variants with 'Guatemala'
whr_combined['country'] = whr_combined['country'].replace(guatemala_variants, 'Guatemala')

In [75]:
# List of 'Hong Kong' variants
hk_variants = ['Hong Kong S.A.R. of China', 'Hong Kong S.A.R., China']

# Replace all variants with 'Hong Kong'
whr_combined['country'] = whr_combined['country'].replace(hk_variants, 'Hong Kong')

In [76]:
# List of 'Kuwait' variants
kuwait_variants = ['Kuwait*']

# Replace all variants with 'Kuwait'
whr_combined['country'] = whr_combined['country'].replace(kuwait_variants, 'Kuwait')

In [77]:
# List of 'Lesotho' variants
lesotho_variants = ['Lesotho*']

# Replace all variants with 'Lesotho'
whr_combined['country'] = whr_combined['country'].replace(lesotho_variants, 'Lesotho')

In [78]:
# List of 'Liberia' variants
liberia_variants = ['Liberia*']

# Replace all variants with 'Liberia'
whr_combined['country'] = whr_combined['country'].replace(liberia_variants, 'Liberia')

In [79]:
# List of 'Libya' variants
libya_variants = ['Libya*']

# Replace all variants with 'Libya'
whr_combined['country'] = whr_combined['country'].replace(libya_variants, 'Libya')

In [80]:
# List of 'Luxembourg' variants
luxembourg_variants = ['Luxembourg*']

# Replace all variants with 'Luxembourg'
whr_combined['country'] = whr_combined['country'].replace(luxembourg_variants, 'Luxembourg')

In [81]:
# List of 'Macedonia' variants
macedonia_variants = ['North Macedonia']

# Replace all variants with 'Macedonia'
whr_combined['country'] = whr_combined['country'].replace(macedonia_variants, 'Macedonia')

In [82]:
# List of 'Madagascar' variants
madagascar_variants = ['Madagascar*']

# Replace all variants with 'Madagascar'
whr_combined['country'] = whr_combined['country'].replace(madagascar_variants, 'Madagascar')

In [83]:
# List of 'Mauritania' variants
mauritania_variants = ['Mauritania*']

# Replace all variants with 'Mauritania'
whr_combined['country'] = whr_combined['country'].replace(mauritania_variants, 'Mauritania')

In [84]:
# List of 'Niger' variants
niger_variants = ['Niger*']

# Replace all variants with 'Niger'
whr_combined['country'] = whr_combined['country'].replace(niger_variants, 'Niger')

In [85]:
# List of 'North Cyprus' variants
nc_variants = ['North Cyprus*', 'Northern Cyprus']

# Replace all variants with 'North Cyprus'
whr_combined['country'] = whr_combined['country'].replace(nc_variants, 'North Cyprus')

In [86]:
# List of 'Palestine' variants
palestine_variants = ['Palestinian Territories', 'Palestinian Territories*', 'State of Palestine']

# Replace all variants with 'Palestine'
whr_combined['country'] = whr_combined['country'].replace(palestine_variants, 'Palestine')

In [87]:
# List of 'Rwanda' variants
rwanda_variants = ['Rwanda*']

# Replace all variants with 'Rwanda'
whr_combined['country'] = whr_combined['country'].replace(rwanda_variants, 'Rwanda')

In [88]:
# List of 'Somaliland Region' variants
sr_variants = ['Somaliland Region', 'Somaliland region']

# Replace all variants with 'Somaliland'
whr_combined['country'] = whr_combined['country'].replace(sr_variants, 'Somaliland')

In [89]:
# List of 'Taiwan' variants
taiwan_variants = ['Taiwan Province of China']

# Replace all variants with 'Taiwan'
whr_combined['country'] = whr_combined['country'].replace(taiwan_variants, 'Taiwan')

In [90]:
# List of 'Trinidad & Tobago' variants
tt_variants = ['Trinidad & Tobago']

# Replace all variants with 'Trinidad and Tobago'
whr_combined['country'] = whr_combined['country'].replace(tt_variants, 'Trinidad and Tobago')

In [91]:
# List of 'Turkey' variants
turkey_variants = ['Turkiye']

# Replace all variants with 'Turkey'
whr_combined['country'] = whr_combined['country'].replace(turkey_variants, 'Turkey')

In [92]:
# List of 'Turkmenistan' variants
turkmenistan_variants = ['Turkmenistan*']

# Replace all variants with 'Turkmenistan'
whr_combined['country'] = whr_combined['country'].replace(turkmenistan_variants, 'Turkmenistan')

In [93]:
# List of 'Yemen' variants
yemen_variants = ['Yemen*']

# Replace all variants with 'Yemen'
whr_combined['country'] = whr_combined['country'].replace(yemen_variants, 'Yemen')

***
### 9) Modifying data types in the combined dataframe

In [94]:
whr_combined.dtypes

country             object
year                 int16
happiness_rank       int16
happiness_score    float32
economic_status    float32
social_support     float32
life_expectancy    float64
freedom            float32
generosity         float32
govt_trust         float64
dtype: object

In [95]:
# Modifying dtypes

whr_combined['life_expectancy'] = whr_combined['life_expectancy'].astype('float32')
whr_combined['govt_trust'] = whr_combined['govt_trust'].astype('float32')
whr_combined['year'] = whr_combined['year'].astype('category')
whr_combined['country'] = whr_combined['country'].astype('category')

In [96]:
whr_combined.dtypes

country            category
year               category
happiness_rank        int16
happiness_score     float32
economic_status     float32
social_support      float32
life_expectancy     float32
freedom             float32
generosity          float32
govt_trust          float32
dtype: object

***
### 10) Removing countries whose scores do not appear for all 9 years (2015 - 2023)

**I am preparing the WHR data for a complete case analysis and am therefore focusing exclusively on countries with data available for all nine years. Complete case analysis involves selecting observations or cases in a dataset with complete data for all variables of interest, excluding those with missing values. By doing so, the emphasis is placed on leveraging available data points that provide complete information for the variables of interest. Although some data points may be excluded due to missing values, this approach capitalizes on the remaining complete cases to optimize the analysis and derive robust insights.**

In [97]:
# Counts the number of years each country is measured

country_counts = whr_combined['country'].value_counts()

In [98]:
# Filters countries that were measured for all 9 years

complete_countries = country_counts[country_counts == 9].index

In [99]:
# Create a new dataset containing only complete countries

df9 = whr_combined[whr_combined['country'].isin(complete_countries)]

***
### 11) Exporting the combined dataframe as a csv

In [1]:
# df9.to_csv(r'C:\Users\ingra\OneDrive\Desktop\whr_combined_whr1.csv', index=False)